body {
  background: #d7e1ea;
  margin: 0;
  position: relative;
  font-family: "Helvetica", arial;
}
.page-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 40px;
  padding-top: 60px;
}
.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  height: 60px;
  display: flex;
  overflow: hidden;
  background: white;
  color: #058ad7;
  margin: 0;
  padding: 0 50px;
  box-sizing: border-box;
  margin-bottom: 1px;
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.12)
}

.header-left,
.header-right {
  flex: 1 0 15%;
}

.header-left,
.header-left a {
  display: flex;
  align-items: center;
}

.header-left img {
  height: 25px;
}

.header-left img + img {
  margin-left: 7px;
}

.header-right {
  justify-content: flex-end;
  display: flex;
  align-items: center;
}

.header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 0 70%;
}

.nav-link {
  flex: 1 0 150px;
  justify-content: center;
  text-align: center;
  color: #587286;
  font-weight: bold;
  box-sizing: border-box;
  transition: color .2s;
  cursor: pointer;
  font-size: 15px;
  margin: 0 20px;
  user-select: none;
}

.nav-link:hover {
  color: #058ad7;
}

.nav-logo {
  background: transparent url(images/logo-perfectgym-dark.svg) no-repeat center center;
  background-size: 143px;
  flex: 0 0 150px;
  height: 100%;
  margin: 0 70px;
}

.nav-logo a {
  width: 100%;
  height: 100%;
  display: block;
}

#page-header .logged-state {
  display: none;
}

#page-header .not-logged-state {
  display: flex;
}

#page-header.user-logged-in .logged-state {
  display: flex;
}

#page-header.user-logged-in .not-logged-state {
  display: none;
}

.header-button {    
  margin-left: 40px;
  background: white;
  border: 1px solid rgba(88, 114, 134, 0.4);
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 20px;
  color: #058ad7;
  cursor: pointer;
  transition: color .1s, border-color .1s;
  height: 30px;
}

.header-button:hover {
  color: #ff5614;
  border-color: rgba(5, 138, 215, 0.7);
}

#pg-client-portal > iframe {
  min-height: calc(100vh - 50px);
}

.page-footer {
  height: 50px;
  background: white;
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding: 0 50px;
  color: #587286;
}

.header-mobile {
  display: none;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.header-mobile img {
  height: 20px;
}

.header-mobile img + img {
  margin-left: 5px;
}

.header-mobile .nav-logo {
  margin: 0 auto;
}

.header-mobile .github-logo,
.header-mobile .burger {
  flex: 0 0 100px;
}

.header-mobile .github-logo {
  text-align: right;
}

@media screen and (max-width: 1300px) {
    .header {
      padding: 0 25px;
    } 

   .header-center {
     display: none;
   }

   .header-left {
     display: none;
   }

   .header-right {
     display: none;
   }

   .header-mobile {
     display: flex;
   }
}

.mobile-list {
    transition: transform 0.3s ease;
    background-color: #afc1d0;
    position: fixed;
    left: 0;
    right: 0;
    top: 61px;
    bottom: 0;
    transform: none;
}
.mobile-list .nav-link {
    background-color: #FFF;
    margin: 0 0 1px 0;
    padding: 15px 0;
}

.burger img {
    padding: 5px;
    cursor: pointer;
}

.hidden {
    transform: translateX(-100%);
}